@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url(font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url(font/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'Poppins-Semi-Bold';
  src: url(font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: 'Poppins-Italic';
  src: url(font/Poppins/Poppins-Italic.ttf);
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url(font/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'Poppins-Semi-Bold-Italic';
  src: url(font/Poppins/Poppins-SemiBoldItalic.ttf);
}

.poppins{
  font-family: 'Poppins', sans-serif;
}
.poppins-bold{
  font-family: 'Poppins-Bold', sans-serif;
}
.poppins-semi-bold{
  font-family: 'Poppins-Semi-Bold', sans-serif;
}
.poppins-italic{
  font-family: 'Poppins-Italic', sans-serif;
}
.poppins-medium{
  font-family: 'Poppins-Medium', sans-serif;
}
.poppins-semi-bold-italic{
  font-family: 'Poppins-Semi-Bold-Italic', sans-serif;
}
#bg{
    background-image: url(./resources/SilhoutteMan.png);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: 325px;
    background-position: bottom;
}
.gradient-area{
  background: radial-gradient(circle at center, #ffffff, #404040, #000000, #000000);
  transition: background 0.1s linear;
}
.custom-cursor  {
  background: #0422b8;
  background: radial-gradient(circle, rgba(0, 0, 0, 0));
  border-radius: 50%; 
  position: fixed; 
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  transition: transform 2s ease-out;
}



@keyframes move_one {
      0% { transform: translate(0, 250px); }
      100% { transform: translate(0, 300px); }
    }
@keyframes move_two {
      0% { transform: translate(0, 250px); }
      100% { transform: translate(0, 300px); }
    }
@keyframes move_three {
      0% { transform: translate(0, 250px); }
      100% { transform: translate(0, 300px); }
    }
    .circle {
      position: absolute;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(9, 220, 83, 0.8), rgba(255, 255, 255, 0));
      width: 150px;
      height: 150px;
      filter: blur(30px);
      animation: move_one 5s infinite alternate ease-in-out;
    }

    .circle2 {
      position: absolute;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(125, 26, 225, 0.621), rgba(255, 255, 255, 0));
      width: 150px;
      height: 150px;
      filter: blur(30px);
      animation: move_two 6s infinite alternate ease-in-out;
      
    }

    .circle3 {
      position: absolute;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0));
      width: 150px;
      height: 150px;
      filter: blur(30px);
      animation: move_three 3s infinite alternate ease-in-out;
    }

#project1{
  background-image: url(./resources/familyorganizer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#project2{
  background-color: #00000000;
}